<div class="container-lg my-5 px-3">
  <app-seller-form />

  <div class="display-6 my-5">Produtos Cadastrados:</div>

  <button class="btn btn-primary mb-4">Novo</button>
  <div class="border border-2 rounded mt-5 p-0 shadow col-sm-12 offset-sm-0 col-lg-10 offset-lg-1">
    <table class="table table-hover table-striped m-0">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Gênero</th>
          <th scope="col">Salário</th>
          <th scope="col">Bonificação </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>mdo</td>
          <td>mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>mdo</td>
          <td>Thornton</td>
          <td>fat</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
